


* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------ NAV SECTION --------------------------------------------------- */

.navSection {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    height: 710px;
    display: flex;
    flex-direction: column;
    background-blend-mode: soft-light;
    background-color: #00182092;
}

/* ------------ Video section. ------------- */

.videoSection {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 710px;
    z-index: -1;
}

/* ------------ First Part --------------- */

.firstPart {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.logoSection {
    border: 1px solid #04ff00;                  /*      Border to delete.      */
    display: flex;
}

.imageLogo {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    background-image: url('media/YWB-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
}

.informationLogo {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    display: flex;
    flex-direction: column;
    height: auto;
}

.titleLogo {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    margin-top: auto;
    margin-bottom: 5px;
    color: #ffffff;
}

.descriptionLogo {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    margin-bottom: auto;
    margin-top: 0px;
    color: #ffffff;
}

.titleLogo {
    font-size: 18px;
    font-weight: 700;
}

.descriptionLogo {
    font-size: 13px;
    font-weight: 400;
}

.menuSection {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    display: flex;
}

.primaryMenu {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    list-style: none;
    display: flex;
    margin: auto 35px auto auto;
}

.primaryMenu li {
    margin: 10px 50px 10px auto;
    font-size: 20px;
}

.primaryMenu li a {
    color: #ffffff; 
}


/* ------------ Second Part --------------- */

.secondPart {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    height: 400px;
}

.titleCompany {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    margin: auto auto auto auto;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

.sloganCompany{
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    margin: auto auto auto auto;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

.exploreMoreButton {
    border: 0px;
    margin: auto auto auto auto;
    height: 70px;
    width: 200px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #00182063;
}

.exploreMoreButton:hover {
    background-color: #429ebd;
    color: #ffffff;
}

/* ------------------------------------------------------------------------ FIRST SECTION --------------------------------------------------- */

.firstSecion {
    border: 1px solid #0037ff;                  /*      Border to delete.      */
    height: 500px;
    display: flex;
    flex-direction: column;
} 

.countryTitle {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    text-align: center;
    margin: auto auto 20px auto;
    text-decoration: underline;
    color: #001820;
    font-size: 45px;
}

.countrySectionImages {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    display: flex;
    flex-direction: row;
    margin: 20px auto auto auto;
}

.flag1, .flag2, .flag3, .flag4, .flag5, .flag6, .flag7, .flag8 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: auto 55px auto auto;
    box-shadow: 0px 0px 10px 5px #7b7a7a;
}

.flag1 {
    background-image: url('media/br.png');
}

.flag2 {
    background-image: url('media/ci.png');
}

.flag3 {
    background-image: url('media/cl.png');
}

.flag4 {
    background-image: url('media/de.png');
}

.flag5 {
    background-image: url('media/es.png');
}

.flag6 {
    background-image: url('media/fi.png');
}

.flag7 {
    background-image: url('media/mx.png');
}

.flag8 {
    background-image: url('media/nl.png');
}

/* ------------------------------------------------------------------------ SECOND SECTION --------------------------------------------------- */

.secondSection {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    display: flex;
    flex-direction: row;
    height: 700px;
}

.secondLeft, .secondRight {
    border: 1px solid #0037ff;                 /*           Border to delete          */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto auto auto auto;
}

.secondRight {
    width: 450px;
}

.imageSecondSection {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    width: 400px;
    height: 300px;
}

.titleSecond {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    font-weight: 700;
    padding: 10px;
    font-size: 35px;
    text-align: center;
}

.textSecond {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    padding: 5px;
    margin: 10px auto auto auto;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}


/* ------------------------------------------------------------------------ THIRD SECTION --------------------------------------------------- */

.thirdSection {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    background-image: url('media/people-computer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    display: flex;
}

.thirdDiv {
    border: 1px solid #0037ff;                 /*           Border to delete          */
    display: flex;
    flex-direction: column;
    margin: auto auto auto 200px;
    height: 300px;
    width: 450px;
}

.thirdTitle {
    border: 1px solid #ff0000;                  /*      Border to delete.      */
    font-size: 30px;
    text-align: center;
    margin: auto auto auto auto;
}

.thirdButton {
    border: 0px;
    margin: auto auto auto auto;
    height: 75px;
    width: 150px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #00182063;
}

.thirdButton:hover {
    background-color: #001820;
    color: #ffffff;
}

/*--------------------------------------------------------------------- FOOTERS SECTION ---------------------------------------------------------------*/

.footerSection {
    height: 80px;
    display: flex;
    background-color: #001820;
}

.footerText {
    margin: auto;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}