
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------ NAV SECTION --------------------------------------------------- */

.navSection {
    height: 710px;
    display: flex;
    flex-direction: column;
    background-blend-mode: soft-light;
    background-color: #00182092;
}

/* ------------ Video section. ------------- */

.videoSection {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 710px;
    z-index: -1;
}

/* ------------ First Part --------------- */

.firstPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.logoSection {
    display: flex;
}

.imageLogo {
    background-image: url('media/YWB-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 2px;
}

.informationLogo {
    display: flex;
    flex-direction: column;
    height: auto;
}

.titleLogo {
    margin-top: auto;
    margin-bottom: 5px;
    color: #ffffff;
}

.descriptionLogo {
    margin-bottom: auto;
    margin-top: 0px;
    color: #ffffff;
}

.titleLogo {
    font-size: 18px;
    font-weight: 700;
}

.descriptionLogo {
    font-size: 13px;
    font-weight: 400;
}

.menuSection {
    display: flex;
}

.primaryMenu {
    list-style: none;
    display: flex;
    margin: auto 35px auto auto;
}

.primaryMenu li {
    margin: 10px 50px 10px auto;
    font-size: 20px;
}

.primaryMenu li a {
    color: #ffffff;
    margin: auto auto auto auto; 
}

.primaryMenu li a:hover {
    color: #06a1d5; 
}

.primaryMenu li .showSideBar {
    border: none;
    background: transparent;
}

.primaryMenu li .showSideBar i {
    color: #ffffff;
    zoom: 140%;
}

.primaryMenu li .showSideBar i:hover {
    color: #06a1d5;
    zoom: 140%;
}

/* ------------ First Part Fixed Menu--------------- */

.fixedMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    background-color: #001820;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    animation-name: fixedMenuAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fixedMenuAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fixedMenu .logoSection {
    display: flex;
}

.fixedMenu .imageLogo {
    background-image: url('media/YWB-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
}

.fixedMenu .informationLogo {
    display: flex;
    flex-direction: column;
    height: auto;
}

.fixedMenu .titleLogo {
    margin-top: auto;
    margin-bottom: 5px;
    color: #ffffff;
}

.fixedMenu .descriptionLogo {
    margin-bottom: auto;
    margin-top: 0px;
    color: #ffffff;
}

.fixedMenu .titleLogo {
    font-size: 18px;
    font-weight: 700;
}

.fixedMenu .descriptionLogo {
    font-size: 13px;
    font-weight: 400;
}

.fixedMenu .menuSection {
    display: flex;
}

.fixedMenu .primaryMenu {
    list-style: none;
    display: flex;
    margin: auto 35px auto auto;
}

.fixedMenu .primaryMenu li {
    margin: 10px 50px 10px auto;
    font-size: 20px;
}

.fixedMenu .primaryMenu li a {
    color: #ffffff;
    margin: auto auto auto auto; 
}

.fixedMenu .primaryMenu li a:hover {
    color: #06a1d5; 
}


/* ------------ Second Part --------------- */

.secondPart {
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    height: 400px;
}

.titleCompany {
    margin: auto auto auto auto;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

.sloganCompany{
    margin: auto auto auto auto;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

.exploreMoreButton {
    border: 0px;
    margin: auto auto auto auto;
    height: 70px;
    width: 200px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #00182063;
}

.exploreMoreButton:hover {
    background-color: #429ebd;
    color: #ffffff;
}

/* ------------------------------------------------------------------------ SIDEBAR MENU. --------------------------------------------------- */

.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    display: none;
    animation: showSideBar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showSideBar {
    0% {
        width: 0px;
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        width: 300px;
    }
}

.shoWideBar {
    display: inline-block;
}

.principalSection {
    background-color: #0018203d;
    display: flex;
    justify-content: space-between;
    background-color: #001820;
}

.logoInfoSidebar {
    display: flex;
}

.imageSidebarLogo {
    background-image: url('media/YWB-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 40px;
    margin: 3px;
}

.informationLogoSidebar {
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
}

.titleLogoSidebar {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}

.descriptionLogoSidebar {
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
}

.buttonSidebar {
    margin: auto 10px auto auto;
}

.secondarySection {
    background-color: #e7e6e6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sideBarMenu {
}

.sideBarMenu li {
    height: 20%;
    text-align: center;
    display: flex;
}

.sideBarMenu li a {
    margin: auto auto auto 10px;
    color: #001820;
    text-decoration: none;
    font-weight: 900;
}

.sideBarMenu li:hover {
    margin: auto auto auto auto;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    animation-name: sideBarAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes sideBarAnimation {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.closeButtonSidebar {
    border: 0px;
    background-color: transparent;
    color: #ffffff;
    zoom: 150%;
    margin: auto 5px auto auto;
}

.closeButtonSidebar:hover {
    color: #ff0000;
}

/* ------------------------------------------------------------------------ FIRST SECTION --------------------------------------------------- */

.firstSecion {
    height: 500px;
    display: flex;
    flex-direction: column;
} 

.countryTitle {
    text-align: center;
    margin: auto auto 20px auto;
    text-decoration: underline;
    color: #001820;
    font-size: 45px;
}

.countrySectionImages {
    display: flex;
    flex-direction: row;
    margin: 20px auto auto auto;
}

.flag1, .flag2, .flag3, .flag4, .flag5, .flag6, .flag7, .flag8 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: auto 55px auto auto;
    box-shadow: 0px 0px 10px 5px #7b7a7a;
}

.flag1 {
    background-image: url('media/br.png');
}

.flag2 {
    background-image: url('media/ci.png');
}

.flag3 {
    background-image: url('media/cl.png');
}

.flag4 {
    background-image: url('media/de.png');
}

.flag5 {
    background-image: url('media/es.png');
}

.flag6 {
    background-image: url('media/fi.png');
}

.flag7 {
    background-image: url('media/mx.png');
}

.flag8 {
    background-image: url('media/nl.png');
}

/* ------------------------------------------------------------------------ SECOND SECTION --------------------------------------------------- */

.secondSection {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.secondLeft, .secondRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto auto auto auto;
}

.secondRight {
    width: 450px;
}

.imageSecondSection {
    width: 400px;
    height: 300px;
}

.titleSecond {
    font-weight: 700;
    padding: 10px;
    font-size: 35px;
    text-align: center;
}

.textSecond {
    padding: 5px;
    margin: 10px auto auto auto;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}


/* ------------------------------------------------------------------------ THIRD SECTION --------------------------------------------------- */

.thirdSection {
    background-image: url('media/people-computer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    display: flex;
}

.thirdDiv {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 200px;
    height: 300px;
    width: 450px;
}

.thirdTitle {
    font-size: 30px;
    text-align: center;
    margin: auto auto auto auto;
}

.thirdButton {
    border: 0px;
    margin: auto auto auto auto;
    height: 75px;
    width: 150px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #00182063;
}

.thirdButton:hover {
    background-color: #001820;
    color: #ffffff;
}

/*--------------------------------------------------------------------- FOURTH SECTION ---------------------------------------------------------------*/

.fourthSection {
    height: 600px;
    display: flex;
    flex-direction: column;

}

.generalQuestionsTitle {
    margin: auto auto 30px auto;
    font-size: 40px;
    font-weight: 700;
}

.divQuestion {
    margin: 30px auto auto auto;
    display: flex;
    flex-direction: column;
    padding: 3px;
    width: 600px;
}

.question {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.superiorPart {
    display: flex;
    justify-content: space-between;
}

.titleQuestion {
    font-weight: 800;
    font-size: 20px;
    margin: 5px auto 5px 5px;
    width: auto;
}

.questionButton {
    border: 0px;                 
    margin: 3px 3px 3px 3px;
    padding: 10px;
    border-radius: 10px;
    background-color: #001820;
    color: #ffffff;
}

.questionButton:hover {
    background-color: #ccf2ff;
    color: #001820;
}

.answerQuestion {
    display: none;
    font-size: 17px;
    font-weight: 500;
}

.showLess {
    display: none;
}

.showAll .showMore {
    display: none;
}

.showAll .showLess {
    display: grid;
}

.showAll .answerQuestion {
    display: flex;
}

/*--------------------------------------------------------------------- FIFTH SECTION ---------------------------------------------------------------*/

.fifthSection {
    height: 650px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.fifthSectionDiv {
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 700px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 10px 5px #0018206f;
    background-color: #00182009;
}

.fifthSectionTitle {
    margin: auto auto 10px auto;
    font-size: 30px;
    font-weight: 900;
}

.divFifthSection {
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
}

.divFifthButtons {
    margin: 10px auto auto auto;
}

.nameMember {
    text-align: center;
    padding: 5px;
    border-radius: 60px;
    margin: auto auto auto auto;
}

.nameMember:hover {
    animation: textAnimation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.imageMember {
    margin: 10px auto 10px auto;
    width: 100px;
    height: 120px;
    border-radius: 60px;
    background-position: center;
    object-fit: cover;
}

.imageMember:hover {
    animation: imgAnimation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes imgAnimation {
    0% {
        width: 100px;
        height: 120px;
    }
    100% {
        width: 110px;
        height: 130px;
        box-shadow: 0px 0px 10px 5px #0018206d;
    }
}

.idMember {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 60px;
    margin: 5px auto auto auto;
}

.positionMember {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    padding: 5px;
    border-radius: 60px;
    margin: 5px auto auto auto;
}

.emailMember {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    padding: 5px;
    text-decoration: underline;
    border-radius: 60px;
    margin: 5px auto 5px auto;
}

.descriptionMember {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    border-radius: 60px;
    margin: 5px auto 5px auto;

}

@keyframes textAnimation {
    0% {
        font-size: auto;
    }
    100% {
        font-size: 130%;
        box-shadow: 0px 0px 10px 5px #0018206d;
    }
}

.fifthFirstButton, .fifthSecondButton, .fifthThirdButton {
    border: 0px;
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #0018203b;
    background-color: #ffffff;
}

.fifthFirstButton:hover, .fifthSecondButton:hover, .fifthThirdButton:hover {
    background-color: #001820;
    color: #ffffff;
}

/* --------------------------------------------------------------------- SIXTH SECTION. -------------------------------------------------------------- */

.sixthSection {
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.sixthTitle {
    margin: auto auto 20px auto;
    font-size: 30px;
}

.places {
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.sixthAbovePart {
    display: flex;
    margin: 2px;
    margin: 5px auto 5px auto;
}

.sixthContinentAll, .sixthContinentAmerica, .sixthContinentEurope, .sixthContinentAsia {
    border: 0px;
    font-size: 18px;
    margin: auto 15px auto 15px;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px #00182040;
}

.sixthBelowPart {
    margin: auto auto auto auto;
    display: flex;
}

.sixthCountryAmerica, .sixthCountryEurope, .sixthCountryAsia {
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px #00182040;
}

.sixthContinentAll:hover, .sixthContinentAmerica:hover, .sixthContinentEurope:hover, .sixthContinentAsia:hover, .sixthCountryAmerica:hover, .sixthCountryEurope:hover, .sixthCountryAsia:hover {
    color: #ffffff;
    background-color: #001820;
    animation-name: sixthSection;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes sixthSection {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

.hideCountry {
    display: none;
}

/* --------------------------------------------------------------------- SEVENTH SECTION. -------------------------------------------------------------- */

.seventhSection {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.seventhTitle {
    font-size: 25px;
    font-weight: 900;
    margin: auto auto 20px auto;
}

.seventhText {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 100px auto 100px;
}

/*--------------------------------------------------------------------- FOOTERS SECTION ---------------------------------------------------------------*/

.footerSection {
    height: 80px;
    display: flex;
    background-color: #001820;
}

.footerText {
    margin: auto;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}
